@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden !important;
}

.animate-ping-slow {
  animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@layer components {
  .black-btn{
    @apply relative flex items-center justify-center gap-2 bg-black text-white text-xs font-semibold tracking-[0.15em] uppercase w-full py-3 overflow-hidden transition-colors duration-500 cursor-pointer;
  }
  
  .btn-cart {
  @apply relative flex items-center justify-center gap-2 
         border border-black text-black 
         text-xs font-semibold tracking-[0.15em] uppercase 
         w-full py-3 overflow-hidden
         transition-colors duration-500 cursor-pointer;
}

.btn-cart span.fill {
  @apply absolute inset-0 bg-black 
         translate-y-full group-hover:translate-y-0 
         transition-transform duration-500 ease-out;
}

.btn-cart span.label {
  @apply relative z-10 
         group-hover:text-white 
         transition-colors duration-500;
}

  .btn {
    @apply px-6 py-3 rounded-lg font-semibold transition-all duration-300;
  }

  .btn-outline {
    @apply border border-gray-300 text-black hover:bg-gray-100;
  }

  .btn-primary {
    @apply 
      px-11
      py-4
      uppercase
      text-white
      rounded-lg
      shadow-lg
      transition-all
      duration-500
      hover:shadow-xl
      hover:-translate-y-0.5;
      
    background-image: linear-gradient(to right, #1CD8D2 0%, #93EDC7 51%, #1CD8D2 100%);
    background-size: 200% auto;
  }

  .btn-primary:hover {
    background-position: right center;
  }

}