@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .btn {
    @apply px-6 py-3 rounded-lg font-semibold transition-all duration-300;
  }

  .btn-outline {
    @apply border border-gray-300 text-black hover:bg-gray-100;
  }

  .btn-primary {
    @apply 
      px-11
      py-4
      uppercase
      text-white
      rounded-lg
      shadow-lg
      transition-all
      duration-500
      hover:shadow-xl
      hover:-translate-y-0.5;
      
    background-image: linear-gradient(to right, #1CD8D2 0%, #93EDC7 51%, #1CD8D2 100%);
    background-size: 200% auto;
  }

  .btn-primary:hover {
    background-position: right center;
  }

}